.scroll-bar {
    -fx-background-color: #3d4855;
}
.label{
    -fx-text-fill: #d7d6dc;
    -fx-font-size: 20;
}

.text-field {
    -fx-background-color: #505a6c;
    -fx-text-fill: #d7d6dc;
}
.pane {
    -fx-background-color: #3d4855;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #d7d6dc;
}
.text-area {
    -fx-control-inner-background : #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-size: 16;
}

.image-view:hover {
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.7) , 15,0,0,1 );
    -fx-cursor: hand;
}
.button {
    -fx-background-color: #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;
    -fx-cursor: hand;
}
.button:hover {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.7) , 10,0,0,1 );
}
