/*.root {*/
/*    -fx-font-family: "sans-serif";*/
/*    -fx-accent: white;*/
/*    -fx-focus-color: green;*/

/*}*/
/*.tab {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.tab-selected-line {*/
/*    -fx-background-color: -fx-focus-color;*/
/*}*/
/*.tab-selected-area {*/
/*    -fx-background-color: -fx-focus-color;*/
/*}*/

/*.tab-pane .tab-header-background {*/
/*    -fx-background-color: -fx-accent;*/
/*}*/
.root {
    -fx-font-family: "Montserrat";
}
/*윗 공간*/
.tab-pane .tab-header-area{-fx-padding: 35 0 0 0;}

/*탭 뒷부분 원래 공간*/
.tab-pane .headers-region {    -fx-background-color: #3d4855;}

/*탭 뒷부분 전체 공간*/
.tab-pane .tab-header-background {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #d7d6dc;
}

/*탭 자체 색깔*/
.tab {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #d7d6dc;
}
.tab:selected {
    -fx-background-color: #eba576;
}


.list-cell {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #d7d6dc;
    -fx-text-fill: #d7d6dc;
    -fx-font-size: 18;
}

.scroll-bar {
    -fx-background-color: #3d4855;
}

.stackpane {
    -fx-background-color: #3d4855;
}

.scroll-pane {
    -fx-background-color: #3d4855;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #d7d6dc;
}
.label{
    -fx-text-fill: #d7d6dc;
}
.list-view {
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-color: #d7d6dc;
}
.text-field {
    -fx-background-color: #505a6c;
    -fx-text-fill: #d7d6dc;
}
.pane {
    -fx-background-color: #3d4855;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #d7d6dc;
}
.text-area {
    -fx-control-inner-background : #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-size: 18;
}
.button {
    -fx-background-color: #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;
    -fx-cursor: hand;
}