.root {
    -fx-background-color: #3d4855;
}
.label {
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;
}

.text-field {
    -fx-background-color: #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;
    -fx-border-color: #d7d6dc;
    -fx-border-style: hidden hidden solid hidden;
}
.button {
    -fx-background-color: #eba576;
    -fx-text-fill: black;
    -fx-font-family: sans-serif;
    -fx-cursor: hand;
}
/*.button {*/
/*    -fx-background-color: #505a6c;*/
/*}*/