.pane {
    -fx-background-color: #3d4855;
    -fx-border-style: hidden hidden hidden hidden;
}
.text-field {
    -fx-background-color: #3d4855;
    -fx-text-fill: #d7d6dc;
    -fx-font-family: sans-serif;
    -fx-border-color: #d7d6dc;
    -fx-border-style: hidden hidden solid hidden;
}
.button {
    -fx-background-color: #eba576;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-border-radius: 400;
    -fx-background-radius: 15;
}
.button:hover {
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.7) , 15,0,0,1 );
}
.label{
    -fx-text-fill: #d7d6dc;
}